body {
  font-family: 'Roboto Slab', Arial, Helvetica, 'sans-serif';
  color: #ededed;
}

.remark-slide-content h1, h2, h3 {
  font-family: 'Magra', Arial, Helvetica, 'sans-serif';
  font-weight: normal;
}

.remark-slide-content h1 {
  font-size: 65px;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono', monospace;
}
.remark-slide-content {
  background-color: #111;
}
.remark-container {
  background: #000;
}
.remark-slide-scaler {
  box-shadow: 0 0 30px #333;
}
.remark-slide-content {
  font-size: 28px;
}

a, a:visited {
  color: #4970A0;
  text-decoration: none;
}

a:hover {
  color: #5590c7;
  text-decoration: underline;
}

.footnote {
  font-size: 22px;
}

.muted {
  color: #666;
  font-size: 16px;
}

.remark-slide-content blockquote {
  font-weight: 300;
  font-size: 36px;
}

.contain {
  max-width: 100%;
  max-height: 100%;
}

img.side-by-side {
  margin: 0 20px;
}